{% extends "base.html" %}

{% block head %}
    <title>Home</title>
    <link href="{{ url_for('static',filename='/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

  {% for message in get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
  {% endfor %}

    <main role="main" class="inner cover mt-auto">
      <h1 class="cover-heading">Welcome to Moodchecker...</h1>
      <p class="lead">When it comes to family, no one should miss a trick. Register to keep track of your family's moods, and support each other better.</p>
      <p class="lead">
        <a href="{{ url_for('register') }}" class="btn btn-lg btn-secondary">Register</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
      </div>
    </footer>

    <script>
      $(document).ready(function(){
        $("#navbar-home").addClass("active");
      })
    </script>
{% endblock %}