{% extends "base.html" %}

{% block head %}
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}
<div class="mx-auto">
    <div class="admin-login">
        <div id="g_id_onload"
            data-client_id="{{ client_id }}"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:8080/login"
            data-auto_prompt="false">
        </div>
        
        <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="filled_black"
                data-text="signup_with"
                data-size="medium"
                data-logo_alignment="left">
        </div>
    </div>
</div>


{% endblock %}